h2 {
text-align: center;
}

.contents {
border: 1px solid black;
padding: 15px;
top: 50%;
left: 50%;
position: fixed;
transform: translate(-50%,-50%);
}

.form-element {
margin: 8px;
text-align: left;
}